{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tabWidth": 2,
  "trailingComma": "es5",
  "semi": false,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "printWidth": 80,
  "singleQuote": true,
  "arrowParens": "always"
}
